Repository Strypper/mauisland, pull requests merged in 2023-04, with the labels that each got.

#130 Fixed CheckboxPage crash application when open in new windows
  src/Features/Gallery/Pages/BuiltIn/CheckBox/CheckBoxPage.xaml
Labels: bug 🐛, macos 🖥️, android📱, windows 💻, level/difficult 😐, built-in 🧩

#131 Implement Layouts
  src/Features/Gallery/Pages/BuiltIn/Grid/DoubleToIntConverter.cs
  src/Features/Gallery/Pages/BuiltIn/Grid/GridControlInfo.cs
  src/Features/Gallery/Pages/BuiltIn/Grid/GridPage.xaml
  src/Features/Gallery/Pages/BuiltIn/Grid/GridPage.xaml.cs
  src/Features/Gallery/Pages/BuiltIn/Grid/GridPageViewModel.cs
  src/Features/Gallery/Pages/BuiltIn/HorizontalStackLayout/HorizontalStackLayoutPage.xaml
  src/Features/Gallery/Pages/BuiltIn/HorizontalStackLayout/HorizontalStackLayoutPageViewModel.cs
  src/Features/Gallery/Pages/BuiltIn/StackLayout/StackLayoutPage.xaml
  src/Features/Gallery/Pages/BuiltIn/StackLayout/StackLayoutPageViewModel.cs
  src/Features/Gallery/Pages/BuiltIn/VerticalStackLayout/VerticalStackLayoutPage.xaml
  src/Features/Gallery/Pages/BuiltIn/VerticalStackLayout/VerticalStackLayoutPageViewModel.cs
  src/Features/Gallery/Pages/Syncfusion/SfAvatarView/SfAvatarViewPage.xaml
  src/MauiProgram.cs
Labels: enhancement 🔥, new feature 🚀, level/easy 🤩, built-in 🧩

#135 feature/warning open source users about appsettings.Development.json
  README.md
Labels: documentation 📃, level/easy 🤩
